{% extends 'base.html.twig' %}

{% block title %}Portfolio Alexandre Duchemin{% endblock %}

{% block body %}

{{ include("./components/navbar.html.twig") }}
<section id="bloc-accueil">
    <div class="wrapper">
        <div class="titre">
            <h1>Accueil</h1>
        </div>
        <div class="presentation">
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="pdp img-pdp-admin">
                <a href="{{ path('admin_projets_liste') }}">
                    <img class="img-pdp" src="{{ asset('media/pdp.jpg') }}">
                </a>
            </div>
            {% else %}
            <div class="pdp">
                <img class="img-pdp" src="{{ asset('media/pdp.jpg') }}">
            </div>
            {% endif %}
            <div id="container-text" class="grid">
                <p class="presentation-text">Bienvenue</p>
                <p class="presentation-text">Vous êtes sur le portfolio de : </p>
                <p id="nom-prenom">Duchemin Alexandre</p>
                <p class="presentation-text">Futur Développeur Full Stack Junior</p>
                <p class="presentation-text">En BTS SIO (Services Informatiques aux Organisations) à Saint-Vincent de Senlis</p>
            </div>
                <a class="btn h-1/4 text-center block" href="{{ path('file', { 'filename': 'CV-Alexandre-Duchemin.pdf' }) }}" target="_blank">Télécharger mon cv</a>
        </div>
    </div>
</section>

<section id="bloc-certification" class="flex justify-center">
    <div class="wrapper">
        <div class="titre">
            <h1>Mes certifications</h1>
        </div>
        <div class="content-certifications mt-32 flex">
            <a href="{{ path('file', { 'filename': 'certification-udemy-apprendre-a-coder.pdf' }) }}" target="_blank">
                <img src="{{ asset('images/certifications/image_certification_udemy_apprendre_a_coder.PNG') }}">
            </a>
        </div>
    </div>
</section>

<section id="bloc-projets">
    <div class="wrapper">
        <div class="titre">
            <h1>Mes Projets</h1>
        </div>
        <div class="content_bloc_projets">
            <div class="content_all_projets">
                <div class="swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        {% for projet in projets %}
                            <div class="swiper-slide">
                                <div class="content_projet">
                                    <div class="projet h-full grid">
                                        <div class="titre_projet flex items-center justify-center">
                                            <p class="leading-relaxed ">{{ projet.nom }}</p>
                                        </div>
                                        <div class="container_image_projet flex justify-center h-4/6">
                                            <img class="image_projet" src="{{ vich_uploader_asset(projet, 'imageFileProjet') }}" alt="{{ projet.alt }}">
                                        </div>
                                        <div class="content_affiche_fiche_projet block m-auto">
                                            <button class="btn_fiche_projet btn" data-projet-id="{{ projet.id }}">Fiche Projet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="content_fiche_projet">
</div>

<section id="bloc-timeline">
    <div class="wrapper">
        <div class="titre">
            <h1 id="ma-timeline">Timeline</h1>
        </div>
        <div id="timeline">
            <div id="container-timeline">
                <span class="disabled-trait"></span>
                {% for timeline in timelines %}
                    <div class="timeline-item">
                        <div class="timeline-content">
                            <div class="timeline-item-date-techno">
                                <p class="date">{{ timeline.date|date('Y') }}</p>
                                <h3 class="timeline-item-nom-techno">{{ timeline.technoNom.nom }}</h3>
                            </div>
                            
                            <div class="timeline-item-description">
                                <p class="timeline-item-description">{{ timeline.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section id="bloc-contact">
    <div class="wrapper">
        <div class="titre">
            <h1>Me contacter</h1>
        </div>
            <div class="content-form-contact">
                {{ form_start(form) }}
                <div class="content-input">
                    <div id="content-nom-prenom">
                        {{ form_row(form.nom) }}
                        {{ form_row(form.prenom) }}
                    </div>
                    <div id="email-sujet">
                        {{ form_row(form.email) }}
                        {{ form_row(form.sujet) }}
                    </div>
                    <div id="contenu">
                        {{ form_row(form.contenu) }}
                    </div>
                </div>
                {{ form_row(form.submit) }}
            </div>
            <div class="drops">
                <div class="drop drop-1 moveContentPortfolioDown movedown"></div>
                <div class="drop drop-2 moveContentPortfolioUp movedown"></div>
                <div class="drop drop-3 moveContentPortfolioDown movedown"></div>
                <div class="drop drop-4 moveContentPortfolioUp moveup"></div>
                <div class="drop drop-5 moveContentPortfolioDown moveup"></div>
            </div>
        </div>
    </div>
</section>

<div class="content-log">
    <div class="logs">

    </div>
</div>

<div id="foot-page"></div>
{% endblock %}
