{% extends 'base.html.twig' %}

{% block title %}Backoffice projets{% endblock %}

{% block body %}

{{ include("./components/navbar_admin.html.twig") }}
<div id="bloc-projets">
    <div class="content-projets-admin">
        {% for projet in projets %}
        <div class="content_projet">
            <div class="projet grid h-full">
                <div class="titre_projet flex items-center justify-center">
                    <p class="leading-relaxed ">{{ projet.nom }}</p>
                </div>
                <div class="content_image_projet h-4/6 flex justify-center">
                    <img class="image_projet" src="{{ vich_uploader_asset(projet, 'imageFileProjet') }}" alt="{{ projet.alt }}">
                </div>
                <div class="content-edit-delete">
                    <div class="content-edit">
                        <form action="{{ path('admin_projets_edit', {id: projet.id}) }}" method="post" value="Modifier">
                            <input class="btn" type="submit" value="Modifier">
                        </form>
                        <a href="{{ path('admin_projets_edit', {id: projet.id}) }}" method="post" value="Modifier"></a>
                    </div>
                    <div class="content-delete">
                        <form action="{{ path('admin_projets_delete', {id: projet.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-projet') }}">
                            <input class="btn" type="submit" value="Supprimer">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="content_projet">
            <form class="form-group" action="{{ path('admin_projets_add') }}" method="post">
                <input class="btn btn-add" type="submit" value="Ajouter +">
            </form>
        </div>
        <form action="{{ path('admin_technos_liste') }}">
            <input class="btn" type="submit" value="Liste des technos">
        </form>
    </div>
</div>
{% endblock %}
