{% extends 'base.html.twig' %}

{% block title %}Modification d'une timeline{% endblock %}

{% block body %}

{% include "./components/navbar_admin.html.twig" %}
<div>
    <h1>Modification de la timeline {{ timeline.nom }}</h1>
</div>
<div class="form-edit flex justify-center">
    {{ form_start(form) }}
    <div class="nom">
        {{ form_row(form.date) }}
    </div>
    <div class="content-img-principal-img-apercu">
        <div class="img-principale">
            {{ form_row(form.imageFileProjet) }}
            {{ form_row(form.alt) }}
        </div>
        <div class="img-apercu">
            {{ form_row(form.imageFileProjetApercu) }}
        </div>
    </div>
    <div>
        <div class="tmp-realisation">
            {{ form_row(form.description) }}
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}